@using DFWeb.BE.Models
@model TeaserPageContentModel

@{
    string FormatTags(string tags)
    {
        tags = tags.ToUpper();
        tags = tags.Replace(" ", " | ");
        tags = tags.Replace("_", " ");
        return tags;
    }
}

<div class = "article_featured">
    @if (Model.ImageId != 0)
    {
        <div id="mainFeaturedBlock">
            <div class="mb-3">
                <a href="/page?id=@Model.PageId"><img width=100% src="/api/Image/GetImage?imageId=@Model.ImageId" class="imagefit" alt="@Model.ContentTitle"></a>
            </div>
            <div>
                <H1><a href="/page?id=@Model.PageId" class="article_title">@Model.ContentTitle</a></H1>
                <B>@Model.LastUpdated | @FormatTags(Model.Tags)</B><BR>
                <p class="article_promo">@Model.PromoText</p> <br />
            </div>
        </div>
    }
</div>
